Repository eduwardpost/aviation-weather, pull requests merged in 2025-07, with the labels that each got.

#9 🛂 Sets issues write permission for label action
  .github/workflows/label-pr.yml
Labels: bug

#8 🐛 Fixes bug where entities are not linked to coordinator
  custom_components/aviationweather/coordinator.py
  custom_components/aviationweather/sensor.py
Labels: bug, python

#10 📝 Adds more github repo config
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/vulnerability-report.md
  .github/pull_request_template.md
  SECURITY.md
Labels: documentation

#12 typos
  custom_components/aviationweather/manifest.json
  custom_components/aviationweather/sensor.py
Labels: python
